<!--- Footer --->
<footer class="footer">
  <div class="container">
    <p>
      &copy; Derick Moncado 2021
    </p>
  </div>
</footer>

<!--- Scripts - scrips inbetween these special tags get compiled + concatenated --->
<!-- build:js -->
<script src="{{root}}assets/vendor/js/all.js"></script>
<script src="{{root}}assets/vendor/js/jquery.js"></script>
<script src="{{root}}assets/vendor/js/popper.js"></script>
<script src="{{root}}assets/vendor/js/bootstrap.js"></script>
<script src="{{root}}assets/vendor/js/slick.js"></script>
<script src="{{root}}assets/vendor/js/emergence.js"></script>
<script src="{{root}}assets/js/custom.js"></script>
<!-- endbuild -->

<!--- Init Emergence --->
<script>
  emergence.init({
    elemCushion: 0.75, // how much of element needs to be visible (%) for emergence to kick in
  });
</script>
