<!--- Header --->
<header class="header">
  <div class="container">
    <div class="header__content">
      <div class="header__content--left">
        <h1 class="animate__animated animate__fadeInDown animate__delay-1s">
          Derick<br />Moncado
        </h1>
        <h2 class="animate__animated animate__fadeInDown animate__delay-1s">
          California based <br />
          Front End Developer
        </h2>
      </div>
      <div class="header__content--right">
        <div
          class="headshot animate__animated animate__backInRight animate__delay-1s"
        >
          <div class="headshot__inner"></div>
        </div>
      </div>
    </div>
  </div>
</header>
