// -----------------------------------------------------------------------------
// Header
// -----------------------------------------------------------------------------

.header {
  padding: 40px 0 0 0;

  @include media-breakpoint-up(md) {
    padding: 80px 0 20px 0;
  }

  &__content {
    @include media-breakpoint-up(md) {
      display: flex;
    }

    &--left {
      text-align: center;
      margin-bottom: 40px;

      h1 {
        font-family: "Poppins", sans-serif;
        text-transform: uppercase;
        font-size: 54px;
        line-height: 1em;
        margin: 0 0 10px 0;
        align-items: center;
      }

      h2 {
        font-family: "Roboto Mono", monospace;
        font-size: 22px;
        color: #666666;
        margin-bottom: 0;
      }

      @include media-breakpoint-up(md) {
        width: 50%;
        margin-bottom: 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    &--right {
      text-align: center;

      .headshot {
        margin: 0 auto;
        height: 250px;
        width: 250px;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 0.3);
        position: relative;
        background: url("../images/headshot.jpg");
        background-size: cover;
        transition: background-image 0.5s ease-in-out;

        &:hover {
          background: url("../images/headshot-orange.jpg");
          background-size: cover;
        }

        .headshot__inner {
          position: absolute;
          top: 0;
          left: 0;
          border: 8px solid rgba(255, 255, 255, 0.3);
          height: 250px;
          width: 250px;
          overflow: hidden;
          border-radius: 50%;
        }

        @include media-breakpoint-up(md) {
          margin: inherit;
        }
      }

      @include media-breakpoint-up(md) {
        width: 50%;
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
